.btn{
  border: none;

}

html{
  overflow-x: hidden;
}

.App{
  width: 100vw;
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  position: relative;
}

main{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 75px;
}

*{
  font-family: Arial, Helvetica, sans-serif;
}

.btn{
  border: none; 
}

.suggestion-text{
  color: #cbcbcb;
  font-weight: 600
}

.loader{
 animation-name: loader;
 animation-duration: 1.4s;
 animation-iteration-count: infinite;
 height: 50px;
}

@keyframes loader {
  0% {
    rotate: 0deg ;
  }
  100%{
    rotate: 360deg;
  }
}